<mat-toolbar color="accent">
    <a href="/">
        <mat-icon>arrow_back</mat-icon>
    </a>
    <p>rxjs-playground works!</p>
</mat-toolbar>
<main>
    <cdk-accordion class="accordion">

        <mat-expansion-panel class="array" color="accent">
            <mat-expansion-panel-header>
                <mat-panel-title><h2>Array</h2></mat-panel-title>
            </mat-expansion-panel-header>
            <array></array>
        </mat-expansion-panel>
        <mat-divider></mat-divider>

        <mat-expansion-panel class="fetch">
            <mat-expansion-panel-header>
                <mat-panel-title><h2 >Fetch (promise)</h2></mat-panel-title>
            </mat-expansion-panel-header>
            @if(radio$ | async; as radio) {
                <ng-container>
                    <mat-action-row>
                        <mat-radio-group (change)="radioChanged($event.value)" 
                            [value]="radio" color="primary">
                            <mat-radio-button value="todos">Todos</mat-radio-button>
                            <mat-radio-button value="quotes">Quotes</mat-radio-button>
                        </mat-radio-group>
                    </mat-action-row>

                    @if(radio === "todos"){
                        <todos></todos>
                    } @else {
                        <quotes [style.width.%]="100"></quotes>                   
                    }
                </ng-container>                    
            }
        </mat-expansion-panel>
        <mat-divider></mat-divider>

        <mat-expansion-panel class="interval">
            <mat-expansion-panel-header>
                <mat-panel-title> <h2 >rxjs interval</h2></mat-panel-title>
                <mat-panel-description> rxjs timer </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="container">                
                <interval-timer type="interval"></interval-timer>
                <interval-timer type="timer"></interval-timer>
            </div>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
        <mat-expansion-panel class="click-event">
            <mat-expansion-panel-header>
                <mat-panel-title> <h2>click event</h2></mat-panel-title>
            </mat-expansion-panel-header>
            <clicks></clicks>
        </mat-expansion-panel>
        <mat-divider></mat-divider>        
    </cdk-accordion>

</main>