body {
     --columnCount:10;
    --arrayColor: #000;
    /*
    --mat-option-label-text-color:purple;
    --mat-select-focused-arrow-color:red;
    --mdc-filled-text-field-caret-color:darkgreen;
    --mdc-outlined-text-field-caret-color:blue;
    --mat-option-selected-state-layer-color: darkcyan;
    --mat-select-enabled-trigger-text-color:yellow;
    --mat-option-selected-state-label-text-color:white;
    --mdc-outlined-text-field-focus-outline-color:cyan;
    --mat-full-pseudo-checkbox-selected-icon-color:orange;
    --mdc-filled-text-field-focus-label-text-color: whitesmoke;
    --mdc-outlined-text-field-focus-label-text-color:pink;
    --mdc-filled-text-field-focus-active-indicator-color: lightgray;
    --mat-minimal-pseudo-checkbox-selected-checkmark-color:lightgreen;

    .mat-primary:not(mat-form-field, mat-slider){
        background: black;
    }
    .cdk-overlay-pane .mat-mdc-select-panel .mat-mdc-option{
        background: lightyellow;
        border-radius: 1rem;
        margin: 0.25rem .5rem;
    } */
}

main{
    
    display: grid;
    grid-auto-flow: row;
    padding: 1rem 15%;
    gap: 1rem;
    animation: 2s;
    transition: all;

    .accordion{
        display: grid;
        gap: .25rem;
    }
    mat-expansion-panel{
        h2{
            text-align: center;
            text-transform: capitalize;
            opacity: .9;
            width: max-content;
        }
        .mat-expansion-panel-header-description{
            text-align: center;
            text-transform: capitalize;
            opacity: 0.9;
            font-size: 1.25rem;
            color: white;
        }

        &.array{
            .actions{
                display: flex;
                gap: 1rem;
            }
            .result{
                display: grid;
                grid-template-columns: repeat(var(--columnCount), 1fr);
                overflow: auto;
                gap: 1rem;

                .wrapper{
                    background-color: var(--arrayColor);
                    border-radius: .25rem;
                    
                    div{
                        padding: 1rem;
                        text-align: center;
                        mix-blend-mode: difference;
                    }
                }
            }
        }

        &.fetch{
            > .mat-expansion-panel-content{
                flex-direction: column-reverse !important;
                .mat-action-row{
                    justify-content: flex-start;
                }
            }
            
            .result{
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                
                .todo{
                    background-color: darkmagenta;
                    padding: .5rem 1rem;
                    border-radius: 1rem;
                    display: flex;
                    gap: .375rem;

                    mat-divider{
                        border: 1px solid lightgreen;
                    }
                    mat-icon{
                        vertical-align: middle;
                        color: lightgreen;
                        background: darkgreen;
                        border-radius: 50%;
                        padding: .125rem;
                        font-weight: bold;
                    }
                }
                .back{
                    cursor: pointer;
                }
                .quotes{
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(5rem, 10rem));
                    gap: 1rem;
                    justify-content: center;
                    max-height: 100vh;
                    overflow-y: auto;
                    
                    .quote{
                        display: flex;
                        flex-direction: column;
                        gap: 0.25rem;
                        vertical-align: middle;
                        color: cornsilk;
                        background: repeating-linear-gradient(15deg, darkblue, blue 40px);
                        border-radius: 1rem;
                        padding-bottom: 1rem;
                        

                        .quote-head{
                            background-color: lightskyblue;
                            width: 100%;
                            border-radius: 1rem 1rem 0 0;
                            padding-block: 0.5rem;
                            text-align: center;
                            color: navy;
                            cursor: pointer;

                            &:hover{
                                mix-blend-mode: luminosity;
                            }
                        }
                        .quote-body{
                            text-align: center;
                            padding: .375rem;
                        }
                    }
                }
            }
        }
        &.interval{
            .mat-content {
                gap: 5rem;
            }
            .container{
                display: flex;
                justify-content: space-around;
            }
            form{
                display: flex;
                gap: 1rem;

                input, button{
                    outline: 0; 
                    border: 0;
                    border-radius: .75rem;
                    font-size: 1.2rem;
                    padding: .5rem 1rem;
                }
                input{
                    text-align: center;
                    width: 6ch;
                }
                button{
                    background-color: #a50044;
                    color: #00246a;
                    font-weight: bold;
                    cursor: pointer;
                    
                    &:disabled{
                        cursor: auto;
                        opacity: .3;
                    }
                }

            }
            .result{
                display: grid;
                // grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr)); 
                grid-template-columns: repeat(5, minmax(4rem, 6rem)); 
                justify-content: space-around;
                gap: 1rem;
                padding: 1rem;
                max-height: 55vh;
                overflow: hidden auto;
            
                .counter-item{
                    text-align: center;
                    background-color: chocolate;
                    padding: 1.5rem .25rem;
                    border-radius: 50%;
                    
                    &.interval{
                        background-color: blueviolet;
                    }
                }
            }
        }
        &.click-event{
            user-select: none;
            .result{
                display: grid;
                // grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr)); 
                grid-template-columns: repeat(6, minmax(8rem, 12rem)); 
                justify-content: space-around;
                gap: 1rem;
                padding: 1rem;
                max-height: 75vh;
                overflow-y: auto;

                .click-data{
                    font-size: 1.5rem;
                    text-align: center;
                    text-transform: capitalize;
                    background-color: lightseagreen;
                    padding: 1.75rem;
                    border-radius: 50%;
                    width: min-content;

                    .index{
                        position: absolute;
                        align-self: anchor-center;
                        right: anchor(left);
                        transform: translateX(.125rem);
                        font-size: 0.8rem;
                        color: mediumvioletred;
                        font-weight: bold;
                        background: cyan;
                        border-top-left-radius: 1rem;
                        border-bottom-left-radius: 1rem;
                        padding: 0.175rem;
                        padding-left: .35rem;
                    }
                }
            }
        }

    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 768px) {    
    main{
        padding: 1rem 2.5rem;

        mat-expansion-panel.interval{
            .container {
                flex-direction: column;
            }
        }
    }
}