main{
    display: grid;
    grid-auto-flow: row;
    padding: 1rem 15%;
    gap: 1rem;
    animation: 2s;
    transition: all;

    .accordion{
        display: grid;
        gap: .25rem;
    }
    .mat-expansion-panel{
        h2{
            text-align: center;
            text-transform: capitalize;
            opacity: .9;
            width: max-content;
            margin: 0;
        }
        .mat-expansion-panel-header-description{
            text-align: center;
            text-transform: capitalize;
            opacity: 0.9;
            font-size: 1.25rem;
            color: white;
        }
        &.interval{
            .container{
                display: flex;
                gap: 2rem;
            }
        }
        &.fetch{
            > .mat-expansion-panel-content{
                flex-direction: column-reverse !important;
                .mat-action-row{
                    justify-content: flex-start;
                }
            }            
        }
        
        &.click-event{
            user-select: none;
        }
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 768px) {    
    main{
        padding: 1rem 2.5rem;

        mat-expansion-panel.interval{
            .container {
                flex-direction: column;
            }
        }
    }
}