$grana: (
    50 : #f4e0e9,
  100 : #e4b3c7,
  200 : #d280a2,
  300 : #c04d7c,
  400 : #b32660,
  500 : #a50044,
  600 : #9d003e,
  700 : #930035,
  800 : #8a002d,
  900 : #79001f,
  A100 : #ffa7b6,
  A200 : #ff748b,
  A400 : #ff4161,
  A700 : #ff274c,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$blau: (
  50 : #e0eaf3,
  100 : #b3c9e0,
  200 : #80a6cc,
  300 : #4d82b7,
  400 : #2667a7,
  500 : #004c98,
  600 : #004590,
  700 : #003c85,
  800 : #00337b,
  900 : #00246a,
  A100 : #99b2ff,
  A200 : #668bff,
  A400 : #3365ff,
  A700 : #1a52ff,
  contrast: (
      50 : #ffffff,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);
