main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: sans-serif;
    
    .current-user-posts{
        display: flex;
        flex-flow: wrap;
        gap: 1rem;
        
        .post{
            padding: 1rem;
            border-radius: .5rem;
            background-color: firebrick;
            color: white;
            flex-basis: 8rem;
        }

    }

    .all-users{
        display: flex;
        flex-flow: wrap;
        gap: 1rem;

        .user{
            padding: 1rem;
            border-radius: .5rem;
            background-color: aquamarine;
            cursor: pointer;
            
            &.selected{
                background-color: darkcyan;
            }
        }
    }
}
