<a href="/">
    <mat-icon>arrow_back</mat-icon>
</a>
<header>
    <h1>JS Interview</h1>
</header>

<main>
    <div class="current">   
    </div>
    
    <div class="all-users">
        @for(user of users$ | async; track user.id){
            <div class="user" [class.selected]="curUserId() === user.id" (click)="userChanged(user.id)">
                {{user.name}}
            </div>
        }
    </div>
    <div class="current-user-posts">
        @if(user){
        <div class="post">
            <div><strong>id:</strong> {{ user.id }} </div>
            <div><strong>name:</strong> {{ user.name }} </div>
            <div><strong>email:</strong> {{ user.email }} </div>
            <div><strong>address:</strong> {{ user.address }} </div>
            <div><strong>phone:</strong> {{ user.phone }} </div>
            <div><strong>company:</strong> 
                <div>
                    
                    <strong>name: </strong>{{ user.company.name }} 
                    
                    <strong>catchPhrase: </strong>{{ user.company.catchPhrase }} 
                    
                    <strong>bs: </strong>{{ user.company.bs }} 
                    
                </div>
            </div>    
            <div><strong>website:</strong> {{ user.website }} </div>
        </div>
    }
        @for(post of currentUserPosts$ | async; track post.id){
            <div class="post">
                <div style='color:yellow; text-align: center;'>
                    <strong>{{post.id}}</strong>
                </div>
                {{post.title}}
                {{post.body}}
            </div>
        }
    </div>

</main>